
    <br>
    <br>
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><strong>404 Halaman tidak ditemukan </strong></h1>
            <h3>Kembali ke <a href="/" >Halaman Login</a></h3>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

  </div>
  <!-- /.container-fluid -->
